.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #e9edc9;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    padding: 50px;
    border-radius: 15px;
}


.field {
    height: 25px;
    width: 200px;
}


.send_btn {
    padding: 8px 15px;
    background: #faedcd;
    border-radius: 10px;
    border: 2px #d4a37391 solid;
    transition: 0.2s;
    color: #314764;
}

.send_btn:hover {
    background-color: #ffdd87;
}

