.wrapper{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 100px;
    min-width: 300px;
    background-color: #e9edc9;
    border-radius: 15px;
    padding: 50px;
}
.title{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.field{
    width: 100%;
    height: 25px;
    padding: 15px 0;
}
.btn{
    width: 50%;
    padding: 8px 15px;
    background: #faedcd;
    border-radius: 10px;
    border: 2px #d4a37391 solid;
    transition: 0.2s;
    color: #314764;
}

.btn:hover {
    background-color: #ffdd87;
}

.fileField{
    height: fit-content;
}