.table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

tr {
    border-bottom: 1px solid #ccc;
}
th {
    color: #314764;
}

td,th {
    padding: 8px;
}

.status_invited{
    color: orange;
}
.status_active {
    color: green;
}