.wrapper{
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    border: 1px solid  #e9edc9;
}
.header{
    height: 50px;
    width: 100%;
    background-color: #e9edc9;
    padding: 10px;
}
.header_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.table_wrapper{
    padding: 10px;
}
.actions{
    display: flex;
    gap: 10px;
}
.action {
    padding: 5px 20px;
    background: #faedcd;
    border-radius: 10px;
    border: 2px #d4a37391 solid;
    transition: 0.2s;
    color: #314764;
}

.action:hover{
    background-color: #ffdd87;
}